/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.back{
  background-image: linear-gradient(#3c4752,#7790a5);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 50px;
}

h1{
  margin: 30px;
  display: flex;
  justify-content:center;
  font-family: 'Kumar One Outline', cursive;
}

h3{
  margin: 130px;
}

h2{
  margin-left: 45%
}

.tracks-card{
  margin: 20px;
  margin-left: 90px;
  width: 300px;
  float: left;
  border: none;
}

.bar-search{
  display: flex;
  justify-content:center;
}

.info-artist{
  width: 500px;
  height: 300px;
  margin: 50px;
  border: none
}

.flex{
  display: flex;
}
